RewriteEngine On
RewriteCond %{HTTP_HOST} ^alexetmaxence.fr$ [NC]
RewriteRule (.*) http://allin.alexetmaxence.fr [R=301,L]
RewriteCond %{HTTP_HOST} ^www.alexetmaxence.fr$ [NC]
RewriteRule (.*) http://allin.alexetmaxence.fr [R=301,L]